---
import Login from "../../components/Login.vue";
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Login</title>
  </head>
  <body class='flex justify-center items-center h-screen'>
    <div class='contaner'>
      <Login
        title='Inicia tu sesion'
        pcuenta1={"No tienes una cuenta? "}
        pcuenta2={"Crear cuenta"}
        reference='/signin'
      />
    </div>
  </body>
</html>
