---
import Signin from "../../components/Signin.vue";
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Sign in</title>
  </head>
  <body class='flex justify-center items-center h-screen'>
    <div class='contaner'>
      <Signin
        title='Registrate!'
        pcuenta1={"Ya tienes una cuenta? "}
        pcuenta2={"Inicia sesion"}
        reference='/login'
      />
    </div>
  </body>
</html>
